.Login {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Login form {
    padding: 30px;
    border: 4px solid #ececec;
    border-radius: 8px;
    align-self: center;
    width: 40vw;
  }
  .sign-up-link{
      color: blue !important;
  }
  